*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Header Mobile */

.headerMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #080325;
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 1;
}

.headerMobileDivUno{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-self: center;
    margin-left: 2%;
}

/* Burguer menu */

.btn{
    background-color: #080325 ;
}

.fa-bars{
    color: white;
}

.dropdown-menu{
    height: 10000px;
    background-color: #080325 !important;
    left: -8px !important;
    top: -6px !important;
}

.dropdown-item{
    display: flex;
    color: white !important;
}

.logoMenuBurguer{
    display: flex;
    justify-content: center;
    align-self: center; 
}

.logoMenuBurguer img{
    width: 40px;
    height: 40px;
}

.logoMenuBurguer h3{
    color: #e9e9e9e9;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.dropdown-item{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    margin-top: 6%;
}

.dropdown-item:hover{
    background-color: #6B6B6B !important;
    color: white;
}

/* Logo header mobile */

.logoHeaderMobile{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
}

.logoHeaderMobile img{
    width: 185px;
    height: 56px;
}

.headerMobileDivTres{
    width: 100%;
}

/* HEADER NORMAL */

.headerNormal{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: #080325;
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 1;
}

.headerNormalDivUno{
    width: 100%;
}

.headerNormalDivUno img{
    width: 159px;
    height: 55px;
    margin-left: 2%;
}

.headerNormalDivDos{
    width: 100%;
}

.headerNormalDivTres{
    width: 100%;
}
.headerNormalUl{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
}

.divHeaderNormalLi{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    height: 55px;
    align-items: center;
    font-weight: bold;
}

.headerNormalLi{
    color:white;
    width: 100%;
    list-style: none;
    white-space: nowrap;
}

.headerNormalLi:hover{
    background-color: rgba(255,255,255,.2);
    padding: 10px;
    border-radius: 2px;
}

@media (min-width: 385px) {
    .dropdown-menu{
        top: -9px !important;
        left: -17px !important;
    }
}

@media (min-width: 900px) {
    .headerNormal{
        display: flex;
    }

    .headerMobile{
        display: none;
    }
}